<html>
<head>
<link rel="stylesheet" href="./css/98.css">
<link rel="stylesheet" href="./css/wizard.css">
</head>
<div id="wizard-window" class="window">
  <div class="title-bar">
    <div class="title-bar-text">Resumaker Install Assistant</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    <div class="wizard-body">
      <div id="wizard-body-sidebar">
        <img id="wizard-body-sidebar-icon"
             src="https://static.skinet.org/images/math.png"/>
        <img id="wizard-body-sidebar-mii"
             src="https://static.skinet.org/images/miimoto.png"/>
      </div>
      <div id="wizard-body-content">
        <h4>Here We Go</h4>
        <p>And so, there was this guy, you see...</p>
      </div>
    </div>
    <div id="wizard-button-row">
      <button>Back</button>
      <button>Next</button>
      <button id="button-cancel">Cancel</button>
    </div>
  </div>
</div>

</html>
