{
    "fullname": "Cool Guy",
    "email": "coolguy@website.biz",
    "telephone": "973-808-1337",
    "website": "https://github.com/coolguy",
    "experience": [
        {
            "title": "Assistant Warlock",
            "company": "Wizards Inc.",
            "location": "Inner Eye Subsystems",
            "start_date": "Mar. 1892",
            "end_date": "Tomorrow",
            "highlights": [
                "Fought back eldritch terror.",
                "Repaired routine paper jams."
            ]
        }
    ],
    "education": [
        {
            "school": "Gizmonics Institute",
            "degree": "MSc. N-Dimensional Mathematics",
            "highlights": [
                "Brought forth the end of days.",
                "Averted the end of days."
            ]
        }
    ],
    "skills": [
        "Black magic", "Blood magic", "Orb pondering"
    ]
}
