{
    "fullname": "Tang Ping",
    "telephone": "(862) 200-5555",
    "email": "coolguy@website.biz",
    "github": "tangping",
    "keywords": "keyword",
    "experience": [
        {
            "title": "Warlock",
            "company": "Wizards Inc.",
            "location": "Jupiter",
            "start_date": "Mar. 2020",
            "end_date": "Present",
            "highlights": [
                "Did some stuff.",
                "More stuff."
            ]
        }
    ],
    "education": [
        {
            "school": "Gizmonics Institute",
            "degree": "MSc. Digital Voodoo",
            "highlights": [
                "Digital Voodoo studies with a minor in Underwater Basketweaving",
                "Graduated with Abnormal Distinction"
            ]
        }
    ],
    "skills": [
        "Dark magic", "Light magic", "Orb juggling"
    ]
}
